<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Fow-DB</h1>
            <ul class="searchers">
                <li>
                    <div>
                        <p>Select Set:</p>
                        <select ng-model="$ctrl.query">                       
                            <option ng-repeat="set in $ctrl.sets" value="{{set}}">{{set}}</option>                  
                        </select>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Name:</p>
                        <input ng-model="$ctrl.searchName" />
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <div ng-repeat="card in $ctrl.cards | filter:$ctrl.query | filter:$ctrl.searchName" class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#!/cards/{{card.code}}">
                    <p>{{card.name}}</p>
                    <p>{{card.text}}</p>
                </a>
            </div>
        </div>
    </div>
</div>