<md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">FOW DATABASE</h1>
</md-toolbar>
<div layout="row" flex>
    <md-sidenav  layout="column" md-component-id="left" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Filters:</h1>
        </md-toolbar>
        <md-content layout="column" flex>
            <md-input-container>
                <label>Name</label>
                <input ng-model="$ctrl.searchName">
            </md-input-container>
            <md-input-container>
                <label>Race</label>
                <input ng-model="$ctrl.race">
            </md-input-container>
            <md-input-container>
                <label>Sets</label>
                <md-select ng-model="$ctrl.query">
                    <md-option ng-repeat="set in $ctrl.sets" ng-value="set">
                        {{set}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-content>
    </md-sidenav>
    <md-content  layout="column" flex>
        <!--FILTERS CARD-->
        <md-card class="hide-gt-md">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Filters</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div layout="row">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="$ctrl.searchName">
                    </md-input-container>
                    <md-input-container>
                        <label>Race</label>
                        <input ng-model="$ctrl.race">
                    </md-input-container>
                    <md-input-container>
                        <label>Set</label>
                        <md-select ng-model="$ctrl.query">
                            <md-option><em>None</em></md-option>
                            <md-option ng-repeat="set in $ctrl.sets" ng-value="set">
                                {{set}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
        <!--CARD GRID-->
        <md-grid-list md-cols="4" md-cols-sm="2" md-cols-xs="1" md-row-height="500px">
            <md-grid-tile ng-repeat="card in $ctrl.cards | filter:$ctrl.query | filter:$ctrl.searchName | filter:$ctrl.race | limitTo:200"
                md-cols="4">
                <div class="layout-column layout-align-space-around-center card-grid-element">
                    <a href="#!/cards/{{card.code}}">
                        <img class="grid-card-image" ng-src="{{card.thumbnailImage}}">
                    </a>
                    <md-button ng-click="$ctrl.addCard(card)">ADD TO WISHLIST</md-button>
                </div>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
    <md-sidenav  md-component-id="right" class="md-sidenav-right md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Wish List:</h1>
        </md-toolbar>
        <md-content class="column layout-padding" layout-align=" center">
            <div class="layout-row" ng-repeat="card in $ctrl.wishList track by $index">
                <md-checkbox ng-model="card.checked">
                    {{card.wishedCard.name}}
                </md-checkbox>
            </div>
            <md-button ng-hide="$ctrl.wishList.length == 0" class="md-raised" ng-click="$ctrl.removeList()">Delete</md-button>
        </md-content>
    </md-sidenav>
</div>