.grid-tile-header {
  text-decoration: none;
  align-content: center;
}

.grid-tile-header h3 {
  text-align: center;
  color: whitesmoke;
}

.grid-image {
  max-width: 100%;
  height: auto;
}

.card-info-list {
  max-width: 640px;
}

.card-info-line {
  padding: 1em;
}

.card-info-property {
  background: #3F51B5;
  color: white;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  padding: 0.38em;
  min-width: 115px;
}

.card-info-property span {
  vertical-align: middle;
}

.card-info-value {
  padding-left: 0.3em;
}

#texto-carta {
  display: inline-block;
  vertical-align: top;
  width: 40em;
}

.card-info>li>span {
  font-size: 1.2em;
  padding-bottom: 1em;
  font-weight: bold;
}

.searchers {
  padding-left: 15px;
  list-style-type: none;
  overflow: hidden;
}

.searchers li {
  float: left;
  padding-right: 1em;
  padding-left: 0;
}

.searchers li div {
  display: block;
}