.card-info {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-info dt {
  font-weight: bold;
}

.card-info > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.card-info > li > span {
  font-size: 1.2em;
  font-weight: bold;
}