.card-info {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-info dt {
  font-weight: bold;
}

.card-info>li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

#texto-carta {
  display: inline-block;
  vertical-align: top;
  width: 40em;
}

.card-info>li>span {
  font-size: 1.2em;
  padding-bottom: 1em;
  font-weight: bold;
}

.searchers {
  padding-left: 15px;
  list-style-type: none;
  overflow: hidden;
}

.searchers li {
  float: left;
  padding-right: 1em;
  padding-left: 0;
}

.searchers li div {
  display: block;
}